---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/news/Header.astro';
import Footer from '../components/news/Footer.astro';
import NewsButton from '../components/news/Button.astro';
import CustomCursor from '../components/CustomCursor.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`About - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-primary min-h-screen flex flex-col">
		<Header theme="light" />
		
		<main class="w-full flex flex-col">
			<!-- About Section -->
			<section class="w-full bg-primary px-16 pt-[120px] pb-[180px] flex flex-col gap-14 items-start">
				<!-- Title -->
				<div class="flex flex-col gap-4 items-start w-full">
					<h1 class="text-h1 font-heading font-bold text-secondary">About me</h1>
				</div>
				
				<!-- Content -->
				<div class="flex flex-col gap-4 items-start w-full">
					<div class="text-sb1 font-body text-secondary">
						<p class="mb-0">I grew up between mountains and an endless curiosity for how things work. I love skiing and surfing, allthough the waves have taught me more humility than any book. Nature is where I reset and find clarity.</p>
						<p class="mb-0">&nbsp;</p>
						<p class="mb-0">I stand firmly for functional design and keep about 40 browser tabs open.</p>
					</div>
				</div>
				<NewsButton href="mailto:mirilaina@gmail.com" text="Contact me!" />
			</section>
		</main>

	<Footer theme="dark" />
	<CustomCursor />
</body>
</html>
