---
---
<section class="w-full py-10 overflow-hidden">
	<div class="w-full flex justify-center">
		<div class="w-full max-w-[1152px]">
			<!-- Spacer for initial padding -->
			<div class="w-8 flex-shrink-0"></div>
			<!-- First set of images -->
			<div class="flex gap-[18px] items-start flex-shrink-0">
				<!-- Left large image -->
				<div class="h-[443px] rounded-xl overflow-hidden flex-shrink-0 w-[591px]">
					<img src="/images/interiorism/1.png" alt="Bento grid image 1" class="w-full h-full object-cover" />
				</div>
				
				<!-- Middle column with 2 images -->
				<div class="flex flex-col gap-[18px] items-start relative flex-shrink-0 w-[284px]">
					<div class="h-[212.5px] rounded-xl overflow-hidden w-full">
						<img src="/images/interiorism/2.png" alt="Bento grid image 2" class="w-full h-full object-cover" />
					</div>
					<div class="h-[212.5px] rounded-xl overflow-hidden w-full">
						<img src="/images/interiorism/3.png" alt="Bento grid image 3" class="w-full h-full object-cover" />
					</div>
				</div>
				
				<!-- Right column with 2 images of different sizes -->
				<div class="flex flex-col gap-[18px] items-start relative flex-shrink-0 w-[290px]">
					<div class="h-[292.5px] rounded-xl overflow-hidden w-full">
						<img src="/images/interiorism/4.png" alt="Bento grid image 4" class="w-full h-full object-cover" />
					</div>
					<div class="h-[130.9px] rounded-xl overflow-hidden w-full">
						<img src="/images/interiorism/5.png" alt="Bento grid image 5" class="w-full h-full object-cover" />
					</div>
				</div>
			</div>
			
			</div>
		</div>
	</div>
</section>

