---
interface Props {
	href?: string;
	text?: string;
}

const { href = '#', text = 'Read about me' } = Astro.props;
---

<a 
	href={href}
	class="inline-block bg-accent text-[16px]
	 text-primary font-sans font-semibold rounded-lg max-w-[210px]
	  text-center hover:text-secondary-300 hover:bg-tertiary-200
	  hover:scale-105 transition-all transition-duration-300"
	style="padding: 12px 24px;"
>
	{text}
</a>

