---
interface Props {
	variant?: 'outline' | 'filled';
	text?: string;
}

const { variant = 'outline', text = 'UX/UI' } = Astro.props;

const isOutline = variant === 'outline';
---

<span 
	class={`inline-block rounded-lg px-2 py-1 text-center font-body text-[12px] ${
		isOutline 
			? 'border border-accent text-accent bg-transparent' 
			: 'bg-tertiary-200 text-secondary border-0'
	}`}
>
	{text}
</span>

